<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281813118999-1u3vgmf348p5dnjii0enrpt6hulug8tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281813118999-1u3vgmf348p5dnjii0enrpt6hulug8tb</string>
	<key>API_KEY</key>
	<string>AIzaSyDNWA83MZTa7EbyoSXQWaQmJYUUECg9MWw</string>
	<key>GCM_SENDER_ID</key>
	<string>281813118999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerse</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-a70a6</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-a70a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281813118999:ios:c51f975ec5eb7bc089ac52</string>
</dict>
</plist>